.header {
	background-color: #222831;
	display: flex;
	padding: 30rem 96rem;
}

.header-logo {
	color: #EEEEEE;
	font-family: "Oswald", sans-serif;
	font-size: 24rem;
	text-decoration: none;
}

.header-navigation {
	text-align: right;
	width: 100%;
}

.header-button-menu {
	display: none;
	margin: 0rem 0rem 0rem 100%;
}

.header-icon {
	height: 24rem;
	width: 24rem;
}

.header-icon:hover
{ filter: brightness(0%) invert(70%) sepia(72%) saturate(6548%) hue-rotate(154deg); }

.header-link {
	color: #EEEEEE;
	font-family: "Poppins", sans-serif;
	font-size: 18rem;
	margin-right: 40rem;
	text-decoration: none;
}

.header-link:last-child { margin-right: 0rem; }
.header-link:hover,
.header-link:focus
{ color: #00ADB5; }

@media screen and (max-width: 596px) {
	.header-button-menu { display: block; }
	.header-link { display: none; }
}